---
import { badges } from "@/lib/data/badges";
import SectionContainer from "../ui/SectionContainer.astro";
import Badge from "../ui/react/Badge";
import BadgeLink from "../ui/react/BadgeLink";
const currentLocale = Astro.currentLocale || "es";

const texts = {
  es: {
    subtitle: "Desarrollador FullStack",
    description:
      "Desarrollador Full-Stack de 26 años, he diseñado e implementado flujos de CI/CD automatizados que redujeron los tiempos de despliegue hasta en un 40%. Además, he liderado la construcción de arquitecturas limpias y modulares basadas en microservicios."
  },
  en: {
    subtitle: "FullStack Developer",
    description:
      "26-year-old Full-Stack Developer, I have designed and implemented automated CI/CD workflows that reduced deployment times by up to 40%. Additionally, I have led the construction of clean and modular architectures based on microservices."
  }
}[currentLocale]!;

const localizedBadges = badges[currentLocale];
---

<SectionContainer class="py-44" id="home">
  <div class="flex flex-col items-center gap-4 sm:max-w-3xl sm:items-baseline">
    <section class="m-auto flex flex-col items-center gap-8 sm:flex-row">
      <div class="relative m-auto h-32 w-32 overflow-hidden rounded-full">
        <img
          class="absolute -top-5"
          src="/images/avatar.webp"
          width="100%"
          height="100%"
          alt="Avatar iamge"
        />
      </div>
      <div class="flex flex-col gap-2 sm:gap-0">
        <h1 class="text-center text-4xl font-black sm:text-6xl">José Pazmiño</h1>
        <Badge className="self-center sm:self-start">{texts.subtitle}</Badge>
      </div>
    </section>
    <p class="px-8 text-center text-pretty sm:max-w-full sm:p-0 sm:text-left sm:text-inherit">
      {texts.description}
    </p>
    <div class="flex max-w-fit flex-col gap-4 sm:flex-row">
      {
        localizedBadges.map(({ href, icon: Icon, text, color, hoverColor, darkColor }) => (
          <BadgeLink className={`${color} font-semibold ${hoverColor} ${darkColor}`} href={href}>
            <Fragment>
              <Icon />
            </Fragment>
            {text}
          </BadgeLink>
        ))
      }
    </div>
  </div>
</SectionContainer>
