---
import SectionContainer from "@/components/ui/SectionContainer.astro";
import { TypeAnimation } from "react-type-animation";
import FormContact from "./components/react/FormContact";
const typeAnimatoRepeat = 1000;
const currentLocale = Astro.currentLocale || "es";
const texts = {
  en: {
    title: "Contact",
    description:
      "Have a project in mind? Reach out to discuss your ideas and how I can help bring them to life. I'm here to collaborate with you and create solutions that drive your vision forward.",
    typeAnimation: [
      "Get in touch",
      2500,
      "Send me a message",
      2500,
      "I'll will reply you soon",
      2500,
      "Let's work together!",
      2500
    ]
  },
  es: {
    title: "Contacto",
    description:
      "¿Tienes un proyecto en mente? Contáctame para discutir tus ideas y cómo puedo ayudarte a hacerlas realidad. Estoy aquí para colaborar contigo y crear soluciones que impulsen tu visión.",
    typeAnimation: [
      "Ponte en contacto",
      2500,
      "Envíame un mensaje",
      2500,
      "Te responderé pronto",
      2500,
      "¡Trabajemos juntos!",
      2500
    ]
  }
}[currentLocale]!;
---

<SectionContainer id="contact" class="mb-14">
  <div class="flex w-full flex-col gap-8">
    <h2 class="text-center text-2xl font-semibold sm:ml-40 sm:text-left">{texts.title}</h2>
    <div class="flex w-full flex-col items-center gap-8">
      <TypeAnimation
        sequence={texts.typeAnimation}
        wrapper="span"
        speed={20}
        style={{ fontSize: "2em", display: "inline-block" }}
        repeat={typeAnimatoRepeat}
        client:visible
      />
      <p class="max-w-xl text-pretty">
        {texts.description}
      </p>
      <FormContact client:idle locale={currentLocale} />
    </div>
  </div>
</SectionContainer>
